<div class="login-main">

    <form class="theme-form" [formGroup]="loginForm" (ngSubmit)="signInMfa()">

        <h4>Verificación de inicio de sesión</h4>
        <p>{{message}}</p>

        <div class="mt-4 mb-4 d-flex align-items-center justify-content-between">
            <span class="reset-password-link">¿Si no recibo el código?</span>
            <button type="button" [disabled]="loading || loadingResendOtp" class="btn btn-primary btn-block"
                (click)="resendOpt()">
                @if(loadingResendOtp){
                <div class="spinner-border spinner-border-sm text-light me-1" role="status">
                    <span class="visually-hidden">Cargando...</span>
                </div>
                }
                Reenviar
            </button>
        </div>
        <div class="form-group">
            <label class="col-form-label pt-0">Ingrese el código de verificación</label>
            <div class="row">
                <div class="col otp-input">
                    <input [formControlName]="'otp1'" class="form-control text-center" type="text" placeholder="--"
                        maxlength="2">
                </div>
                <div class="col otp-input">
                    <input [formControlName]="'otp2'" class="form-control text-center" type="text" placeholder="--"
                        maxlength="2">
                </div>
                <div class="col otp-input">
                    <input [formControlName]="'otp3'" class="form-control text-center" type="text" placeholder="--"
                        maxlength="2">
                </div>
                <div class="col otp-input">
                    <input [formControlName]="'otp4'" class="form-control text-center" type="text" placeholder="--"
                        maxlength="2">
                </div>
            </div>
        </div>


        <div class="form-group mb-0 mt-4">
            <button [disabled]="loading || loadingResendOtp || loginForm.invalid"
                class="btn btn-primary btn-block w-100" type="submit">
                @if(loading){
                <div class="spinner-border spinner-border-sm text-light me-1" role="status">
                    <span class="visually-hidden">Cargando...</span>
                </div>
                }
                Verificar
            </button>
        </div>
        <p class="mt-4 mb-0 text-center">Volver a
            <a class="ms-1" [routerLink]="['/authentication/sign-in']">Iniciar sesión</a>
        </p>
    </form>
</div>