<div class="container-fluid p-0">
  <div class="row m-0">
    <div class="col-12 p-0">
      <div class="login-card login-dark">
        <div>
          <div>
            <a class="logo text-start">
              <img class="img-fluid for-dark" [src]="apiUrlStatics + '/images/logo/logo.png'" alt="looginpage">
              <img class="img-fluid for-light" [src]="apiUrlStatics + '/images/logo/logo_dark.png'" alt="looginpage">
            </a>
          </div>
          <mf-authentication-forget-password-form></mf-authentication-forget-password-form>
        </div>
      </div>
    </div>
  </div>
</div>